.login-modal {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 5svh 3svw 5svh 3svw;
  border-radius: 1rem;
  justify-content: center;
  background-color: #faf9f690;
  width: fit-content;
  height: fit-content;

  >.title-container {
    >.title-text {
      color: #333333;
      font-size: 24px;
    }
  }

  >.login-button-container {
    display: flex;
    justify-content: center;
  }

  >.register-container {
    display: flex;
    justify-content: center;
  }

  >.registration-form {
    width: 50svh;
    max-width: 500px;
  }
}


.form-errors {
  color: #CE0000;
  margin: 3px 0;
}

@media (max-width: 586px) {
  .registration-form {
    min-width: 200px;
    max-width: 80vw;
  }
}