* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.page {
  display: flex;
  /* Adjust height to account for the top margin */
  min-height: calc(100svh - 60px);
  height: calc(100svh - 60px);
  max-height: calc(100svh - 60px);
  width: 100svw;
  background-color: #333333;

  position: fixed;
  top: 60px;

}

.page::before,
.page::after {
  content: '';
  position: absolute;
  bottom: 0; /* Align triangles to the bottom of the container */
  width: 0;
  height: 0;
  border-style: solid;
  z-index: -1;
}

.page::before {
  right: 0px;
  border-width: 0 0 75svh 40svw; /* Adjust size and shape of the triangle */
  border-color: transparent transparent #3d3d3d transparent; /* Triangle color */
}

.page::after {
  border-width: 0 80svw 60svh 100svw; /* Adjust size and shape of the triangle */
  border-color: transparent transparent #3a3a3a transparent; /* Triangle color */
}

.MuiDrawer-paperAnchorBottom {
  border-radius: 8px 8px 0 0;
}

.MuiButton-root {
  text-transform: none;
}

.vc {
  display: flex;
  align-items: center;
}

.hc {
  display: flex;
  justify-content: center;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}


.fdc {
  display: flex;
  flex-direction: column;
}

.fdr {
  display: flex;
  flex-direction: row;
}

.bold {
  font-weight: bold;
}

.banner {
  background-color: rgba(125, 125, 125, 0.1);
}

.uc {
  text-transform: uppercase;
}

.vr {
  height: 100%;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sb {
  justify-content: space-between;
}

.charcoal {
  color: #333333;
}

.fit-parent {
  display: flex;
  flex-grow: 1;
}

.bg-white {
  background-color: white;
}

.disable-click {
  cursor: not-allowed;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.rr {
  display: flex;
  flex-direction: row-reverse;
}

.maxw {
  max-width: 1080px;
}

.pr{
  margin-left: auto;
}

@media (max-width: 586px) {
  .page {
    padding: 0 2svw;
  }
}
